<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="/analist-data"><strong><span class="fa fa-user"></span> Analista: {{user.name}} {{user.lastname}}  </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/analist-data">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/analist-data">Datos Actualmente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Salir <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <hr>
    <div class="card text-center mt-2 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
        <div class="card-body">
            <h1> <i class="fas fa-chart-line"></i> Análisis de Datos del Usuario </h1>
            <hr>
            <form action="/analist-data" method="POST">
                <div class="form-group">
                    <h5 for="role"><span class="fas fa-user-plus"></span> Seleccionar un Usuario </h5>
                    <select name="role">
                        {{#each users}}
                            <option value="user">
                                {{identification}} - {{name}} {{lastname}}
                            </option>
                        {{/each}}
                    </select> 
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 align-items-center">
                            <h5 for="selectedStartDate"><span class="fas fa-calendar-alt"></span> Fecha Inicial </h5>
                            <input type="datetime-local" name="selectedStartDate">  
                        </div>
                        <div class="col-md-4 align-items-center">
                            <h5 for="selectedEndDate"><span class="fas fa-calendar-alt"></span> Fecha Final </h5>
                            <input type="datetime-local" name="selectedEndDate">   
                        </div>
                        <div class="col-md-1 align-items-center">
                           <input type="submit" class="btn btn-dark btn-lg mt-5">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>