<div class="container">
    <meta http-equiv="refresh" content="3">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/user-data"><strong><span class="fa fa-user"></span> Usuario: {{user.name}}
                    {{user.lastname}} </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user-data">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user-data-stream">Datos Actuales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user-data-alert">Historial de Alertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout"> Salir <i class="fa fa-sign-out"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <hr>
    <div class="card text-center mt-2 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
        <div class="card-body">
            <h1> <span class="fas fa-address-card"></span> Visualizar Datos del Usuario </h1>
            <hr>
            <form action="/user-data-stream" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 for="selectedStartDate"><span class="fas fa-id-card"></span> Número de Cédula </h5>
                            <input type="text" name="identification" class="form-control" value={{user.identification}}
                                autofocus readonly>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <h5 for="role"><i class="fas fa-wave-sine"></i> Cantidad de datos a visualizar </h5>
                            <select name="timestamp">
                                <option value="0">...</option>
                                <option value=3>3 Datos</option>
                                <option value=5>5 Datos</option>
                                <option value=10>10 Datos</option>
                                <option value=20>20 Datos</option>
                            </select>
                        </div>
                        <div class="col-md-1 align-items-center">
                            <input type="submit" class="btn btn-dark btn-lg mt-5">
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <canvas id="ChartFrec"></canvas>
            </div>
            <hr>
            <div>
                <canvas id="ChartTemp"></canvas>
            </div>
            <hr>
            <div>
                <canvas id="ChartOxi"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    let measureArray = [];
    let labelChart = {};
    let labelsTag = [];
    let labelsTagStr = [];

    {{#each measureFrecuencia}}
        measureArray.push({{ measure }})
        labelChart = "{{vital_sign}}"
        labelsTag.push("{{time_record}}")
    {{/each}}


    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear() + '-' + mnth + '-' + day + '\n' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ':' + date.getMilliseconds()].toString()
    }
    for (let i = 0; i < labelsTag.length; i++) {
        labelsTagStr.push(convert(labelsTag[i]));
    }

    const data = {
        labels: labelsTagStr,
        datasets: [{
            label: labelChart,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: measureArray,
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('ChartFrec'),
        config
    );
</script>
<script>
    let measureArray1 = [];
    let labelChart1 = {};
    let labelsTag1 = [];
    let labelsTagStr1 = [];

    {{#each measureTemperatura}}
        measureArray1.push({{ measure }})
        labelChart1 = "{{vital_sign}}"
        labelsTag1.push("{{time_record}}")
    {{/each}}


    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear() + '-' + mnth + '-' + day + '\n' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ':' + date.getMilliseconds()].toString()
    }
    for (let i = 0; i < labelsTag1.length; i++) {
        labelsTagStr1.push(convert(labelsTag1[i]));
    }

    const data1 = {
        labels: labelsTagStr1,
        datasets: [{
            label: labelChart1,
            backgroundColor: 'rgb(35, 252, 125)',
            borderColor: 'rgb(35, 252, 125)',
            data: measureArray1,
        }]
    };

    const config1 = {
        type: 'line',
        data: data1,
        options: {}
    };

    const myChart1 = new Chart(
        document.getElementById('ChartTemp'),
        config1
    );
</script>
<script>
    let measureArray2 = [];
    let labelChart2 = {};
    let labelsTag2 = [];
    let labelsTagStr2 = [];

    {{#each measureOxigenacion}}
                measureArray2.push({{ measure }})
            labelChart2 = "{{vital_sign}}"
            labelsTag2.push("{{time_record}}")
    {{/each}}


    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear() + '-' + mnth + '-' + day + '\n' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ':' + date.getMilliseconds()].toString()
    }
    for (let i = 0; i < labelsTag2.length; i++) {
        labelsTagStr2.push(convert(labelsTag2[i]));
    }

    const data2 = {
        labels: labelsTagStr2,
        datasets: [{
            label: labelChart2,
            backgroundColor: 'rgb(86, 35, 252)',
            borderColor: 'rgb(86, 35, 252)',
            data: measureArray2,
        }]
    };

    const config2 = {
        type: 'line',
        data: data2,
        options: {}
    };

    const myChart2 = new Chart(
        document.getElementById('ChartOxi'),
        config2
    );
</script>