<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/user-data"><strong><span class="fa fa-user"></span> Analista: {{user.name}}
                    {{user.lastname}} </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/analist-data">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/analist-data-stream">Datos Actuales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/analist-data-alert">Historial de Alertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout"> Salir <i class="fa fa-sign-out"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <hr>
    <div class="card text-center mt-2 border-dark" style="border-width: 10px; background-color: #e3f2fd;">
        <div class="card-body">
            <h1> <span class="fas fa-address-card"></span> Visualizar Alertas del Usuario </h1>
            <hr>
            <form action="/analist-data-alert" method="POST">
                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 align-items-center">
                                <h5 for="role"><span class="fas fa-user-plus"></span> Seleccionar un Usuario </h5>
                                <select name="role">
                                    <option value="0">...</option>
                                    {{#each users}}
                                    <option value={{identification}}>
                                        {{identification}} - {{name}} {{lastname}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-1 align-items-center">
                                <input type="submit" class="btn btn-dark btn-lg mt-5">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table text-center table-bordered mt-4" style="border-width: 5px;">

                <thead>
                    <tr class="table-info">
                        <th scope="col">Signo Vital</th>
                        <th scope="col">Anomalía Registrada</th>
                        <th scope="col">Fecha de Registro</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each alert}}
                    <tr class="table-light">
                        <th scope="row">{{vital_sign}}</th>
                        <td>{{description}}</td>
                        <td>{{time_record}}</td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
</div>